@model PitchingTube.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="containerRegistration">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")

        <div class="frame">
        <table style="width:100%;">
        <tr>
        <td>
            <div class="secondInfoHeader">
                Login via Facebook
            </div>
            <div style="padding-left:80px">
            <table>
                <tr class="TableTr">
                    <td>
                        <div class="sectionHeader" style="position:relative;width:216px;height:72px;" >
                               <fb:login-button scope="email" show-faces="true" width="216"></fb:login-button> 
                        </div>
                    </td>
                </tr>
            </table>
            </div>
@*        <div class="secondInfoHeader">Share your ideas</div>
        <div class="secondInfoHeader" style="font-size:smaller">with experts</div>
*@      </td>
        <td>
            <div class="secondInfoHeader">
            or
            </div>
        </td>
        <td>
        <table style="width: 100%">
            <tr>
            <td class="style1" style="text-align:center;" colspan="2">
            <span class="secondInfoHeader">REGISTER</span>
            </td>
            </tr>
            <tr class="TableTr">
                    <td class="style1">
                        @Html.LabelFor(m => m.UserName)
                    </td>
                    <td class="style2" >
                        @Html.TextBoxFor(m => m.UserName, new { @class = "TextBox", @id = "name" })<br />
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @id = "nameMessage", @class = "valmes" })
                    </td>
                </tr>
                <tr class="TableTr">
                    <td class="style1">
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td class="style2">
                        @Html.TextBoxFor(m => m.Email, new { @class = "TextBox", @id = "emailRegister" })<br />
                        @Html.ValidationMessageFor(m => m.Email, "", new { @id = "emailRegisterMessage", @class = "valmes" })
                    </td>
                </tr>
                <tr class="TableTr">
                    <td class="style1">
                        @Html.LabelFor(m => m.Skype)
                    </td>
                    <td class="style2">
                         @Html.TextBoxFor(m => m.Skype, new { @class = "TextBox" })
                    </td>
                </tr>
                <tr class="TableTr" >
                    <td class="style1" >
                        @Html.LabelFor(m => m.Phone)
                    </td>
                    <td class="style2" >
                        @Html.TextBoxFor(m => m.Phone, new { @class = "TextBox" })<br />
                        @Html.ValidationMessageFor(m => m.Phone,"", new { @class = "valmes" })
                    </td>
                </tr>
                <tr class="TableTr">                    
                    <td class="style1">
                        @Html.LabelFor(m => m.Password)
                    </td>
                    <td class="style2">
                        @Html.PasswordFor(m => m.Password, new { @class = "TextBox" })<br />
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "valmes" })
                    </td>
                </tr>
                <tr class="TableTr">
                    <td class="style1">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </td>
                    <td class="style2">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "TextBox" })<br />
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "valmes" })
                    </td>
                </tr>
                <tr class="TableTr">
                    <td class="style1">
                                                 @if (!string.IsNullOrWhiteSpace(Model.AvatarPath))
                         {
                            <img id="avatarPreview" src="@Model.AvatarPath" alt="" height="40"/>
                            <input type="hidden" name="AvatarPath" id="AvatarPath" value="@Model.AvatarPath"/>
                         }
                    </td>  
                    <td class="style3">
                        <input type="file" name="fileUpload" id="fileUpload" onchange="readURL(this)" class="file"/>
		                <input type="text" class="TextBoxN" value="" id="AvatarPathTextBox"/>
                        <input type="button" id="Button1" class="button1" value="Open"/>

                     </td>
                     </tr>
                     <tr class="TableTr">
                        <td class="style2" colspan="2">
                        <div style="float:left;">
                            @Html.RadioButtonFor(m => m.Role, "Entrepreneur", true)
                            <span class="regularInfoHeader">Entrepreneur</span>
                            @Html.RadioButtonFor(m => m.Role, "Investor", false)
                            <span class="regularInfoHeader">Investor</span>
                        </div>     
                            <div class="sectionHeader" style="text-align:right;" id="Label7">
                                <input type="image" src="../../Content/img/btn-go.png" alt="" style="padding-right: 25px; padding-bottom:10px; font-size: 25px" /><br/>
                            </div>

                    </td>

                     </tr>
            
        </table>
        </td>
        </tr>
        </table>
        </div>
    }  
    
    <div class="boxSections">
    <div class="subheader">
        <p id="lblSteps"><b>3 STEPS</b> TO GO</p>
    </div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblPitch">
                <img src="../../Content/img/icon-timer.png" alt="" /><br/>
                Prepare the <b>one minute</b> pitch</span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblShare">
                <img src="../../Content/img/icon-lamp.png" alt="" /><br/>
                Share it with <b>investors</b></span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
    <div class="spacer">&nbsp;</div>
    <div class="cell">
        <a href="#">
            <span class="sectionHeader" id="lblFeedback">
                <img src="../../Content/img/icon-handshake.png" alt="" /><br/>
                Get useful <b>contacts</b> and feedback</span>&nbsp;
            <img src="../../Content/img/icon-more.png" alt="" align="absbottom" /></a>
    </div>
</div> 
    </div>
