@model IEnumerable<PitchingTube.Models.UserInfo>

@{
    ViewBag.Title = "Nomination";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
}


<div class="ConteinerNomination">
    @using (Html.BeginForm(new { tubeId = ViewData["tubeId"] }))
    {
        <p style="font-size: 22px; padding-left: 10px; background-color:Black;color:White; width:120px ">INVESTOR</p>
        <table class="">
            @foreach (var item in Model)
            {
                index++;
                <tr class="Tr">
                    <td>
                        <img src="@item.AvatarPath" alt="" width="60"/> 
                    </td>
                    <td class="FIO">
                        @Html.DisplayFor(modelItem => item.Name) 
                    </td>
                    <td class="Idea">
                        <p style="background-color:Black;color:White; width:45px">IDEA</p> <br/>
                        <p class="DescribeIdea"> @Html.DisplayFor(modelItem => item.Description) </p>
                    </td>
                    <td>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <input name="@String.Format("star{0}",index)" type="radio" class="star" value="@i"/>
                            
                        }   
                        <input type="hidden" name="ratings" id="star-input-@index" />   
                        <input type="hidden" value="@item.UserId" name="ids"/>
                    </td>
                </tr>
            }
           
        </table>
        <input type="submit" value="Done" class="Button1" id="submit-form" style="color: white"/>
        <p style="font-size: 18px; float: right">If you are finished, puch </p>
    }
</div>

<script type="text/javascript">
    $(function() {
        $(".star").rating("select", 0);
        $('#submit-form').bind('click', function() {
            alert("click");
            for (var i = 1; i <= 5; i++) {
                $('#star-input-' + i).val($('input:radio[name=star' + i + ']:checked').val());
            }

        });


    });
</script>