@model IEnumerable<PitchingTube.Models.UserInfo>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var entrepreneurs = Model.Where(u => u.Role == "Entrepreneur").ToList();
    var investors = Model.Where(u => u.Role == "Investor").ToList();
}


<h2>Results</h2>

<div class="ConteinerResult">
        <table class="resultTable">
            <tr >
                <td colspan="3" class="Title">ENTREPRENEUR</td>
                <td ></td>
                <td colspan="2" class="Title">INVESTOR</td>
            </tr>
            @for (int i = 0; i < entrepreneurs.Count; i++ )
            {
            <tr class="Tr">
                <td class="Number">
                    <div id="@String.Format("nomination{0}",i)">
                        @entrepreneurs[i].Nomination
                    </div>
                </td>
                <td class="Zvezda"> <img src="@Url.Content("~/Content/img/Zvezda.png")" alt="" /> </td>
                <td> <img src="@entrepreneurs[i].AvatarPath" alt="" width="80"> </td>
                <td class="Idea"> IDEA <br/><p class="DescribeIdea">@entrepreneurs[i].Description </p></td>
                <td class="style1"><img src="@investors[i].AvatarPath" alt="" width="80" /></td>
                <td class="Preloader" id="@String.Format("state{0}",i)"><img class="loading" src="@Url.Content("/Content/img/PreloaderResult.gif")" alt="" /><br/>Pending</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="Name" colspan="2"> @entrepreneurs[i].Name</td>
                <td class="Name" colspan="2"> @investors[i].Name</td>
            </tr>
            }
        </table>
    </div>

    <script type="text/javascript">

        $(function() {
            timer = setInterval(GetRatings, 1000);

            function GetRatings() {
                $.getJSON("/Tube/GetRatings?tubeid=" + @ViewBag.TubeId, function(x) {
                    for (var i = 0; i < x.nomination.length; i++) {
                        
                        var nominationId = "#nomination" + i;
                        if ($(nominationId).text() != x.nomination[i])
                            $(nominationId).text(x.nomination[i]);
                        
                        var stateId = "#state" + i;
                        
                        if(x.pending[i] == 1 && $(stateId+'.loading') != null)
                        {
                            $(stateId).html("<img class=\"completed\"src=\"/Content/img/Galochka.png\" alt=\"\"> <p class=\"Pending\">Completed</p>");
                            $(stateId).removeClass("Preloader").addClass("Galochka");
                        }
                            
                    }

                });

            }

        });
    </script>