@using PitchingTube.Data

@{
    ViewBag.Title = "StartPitch";
}

<h2>StartPitch</h2>

<div class="containerPitch">
        <table >
            <tr class="Tr">
                <td id="time" class="time" >00:00
                    <p class="question" id="timeStatus"></p>
                </td>
                <td class="video" rowspan="5" >
                    <img src="@Url.Content("Content/img/Video.png")" alt="" /> 
                </td>
                <td class="investor">
                    CURRENT <br/> @ViewBag.CurrentPartner.Role <br />
                    <img src="@ViewBag.CurrentPartner.AvatarPath" alt="" />
                    </td>
                <td class="style3">@ViewBag.CurrentPartner.Name</td>
            </tr>
            @*@Html.Partial("History",((List<ParticipantRepository.UserInfo>)ViewBag.History))*@
            </table>

            @*@Html.Partial("Live", ((List<ParticipantRepository.UserInfo>)ViewBag.CurrentPairs))*@
</div>

@*<p>YourPartner<br />
    @ViewBag.CurrentPartnerId.UserId
</p>

<div id="time">
    00:00
</div>
<div id="timeStatus">
</div>

<p>
    Other Rooms
</p>
<table>
<tr>
@{
    int count = 0;
    foreach (var itemModel in Model)
    {
        if (itemModel.UserId != ViewBag.CurrentPartnerId.UserId &&
           itemModel.UserId != (Guid)Membership.GetUser(Membership.GetUserNameByEmail(User.Identity.Name)).ProviderUserKey)
        {
            <td>
                <img src="@Url.Content(itemModel.AvatarPath)" height="60px" /><br/>
                @Html.DisplayFor(m => itemModel.Name)
            </td>
            if(count % 2 == 0)
            {
                <td>
                    >
                </td>
            }
            else{
                <td>
                    |<br/>|<br/>|<br/>|<br/>|
                </td>
            }
            
        }
        count++;
    }
}
</tr>
</table>

<div>
    @Html.Partial("History", ViewBag.History);
</div>
*@

<script language="javascript">
    var minutes = 0;
    var seconds = 0;

    var statusArray = new Array(
            { time: 0, status: "Sharing idea" },
            { time: 60, status: "Asking questions" },
            { time: 100, status: "Exchanging contacts" }
        );

        $(document).ready(function () {

            $('#time').text("00:00");
            $('#timeStatus').text(statusArray[0].status);

            timer = setInterval(function () {
                seconds += 1;
                if (seconds == 60) {
                    minutes += 1;
                    seconds = 0;
                }
                $('#time').text("0" + minutes + ":" + (seconds - 10 < 0 ? "0" : "") + seconds);

                var currentTime = minutes * 60 + seconds;

                for (var i = 0; i < statusArray.length; i++) {
                    if (currentTime == statusArray[i].time)
                        $('#timeStatus').text(statusArray[i].status);
                }

                if (currentTime == 120) {
                    clearInterval(timer);
                    alert("Pitch is stopped");
                    newRound();
                }
            }, 1000);
        });

    function newRound()
    {
        window.location.href="@Url.Content("/Tube/StartPitch")";
    } 

</script>