@model IEnumerable<PitchingTube.Data.ParticipantRepository.UserInfo>
@{
    Layout = null;
}
<div class="left" id="columnleft" style="width: 200px">
</div>
<div class="right" id="columnright" style="width: 200px">
</div>
<script type="text/javascript">
    @foreach (var x in Model)
    {
        if (x.Role == "Investor")
        {
            <text>
            var tmp = '<div class="participant-container left"><div class="avatar"><img src="@x.AvatarPath" alt="user-avatar" class="left"/><div class="investorname"><h2>@x.Name</h2></div><div>@x.Description</div></div></div>'
            $('#columnleft').append(tmp);
            </text>
        }
        else
        {
            <text>
            var tmp2 = '<div class="participant-container right"><div class="avatar"><img src="@x.AvatarPath" alt="user-avatar" class="right"/><div class="entrepreunername"><h2>@x.Name</h2></div><div>@x.Description</div></div></div>'
            $('#columnright').append(tmp2)
            </text>
        }
    }
        $(document).ready(function() {
            if(@ViewData["LeftInvestor"]==0 && @ViewData["LeftEntrepreneur"]==0) {
                stopInterval();
            }
            else {
                if(@ViewData["LeftInvestor"]>1 || @ViewData["LeftEntrepreneur"]<1) {
                    $(".alertIn").html("Left @ViewData["LeftInvestor"] investors").show(); //.fadeIn(500).delay(1).fadeOut(500);
                    $(".alertEn").html("Left @ViewData["LeftEntrepreneur"] enterprenuers").show();
                } else {
                    $(".alertIn").html("Left @ViewData["LeftInvestor"] investor").show(); //.fadeIn(500).delay(1).fadeOut(500);
                    $(".alertEn").html("Left @ViewData["LeftEntrepreneur"] enterprenuer").show();
                }
            }
        });
</script>
